body 
{
    height: 100vh;
    margin: 0;
    font-family:'Rubik', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--blackPrimary);
    color: var(--whitePrimary);
}

:root {
    --orangePrimary: #ff6700;
    --orangeSecondary: #ff9248;
    --blackPrimary: #121212;
    --blackSecondary: #212121;
    --whitePrimary: #f8f8fa;

    
}

.navbar{
    display: flex;
    width: 100%;
    height: 64px;
    background-color: var(--blackPrimary);
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    height: calc(100vh - 64px);
    justify-content: center;
    align-items: center;
}

.share{
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dashed var(--blackSecondary);
    min-height: 300px;
    min-width: 300px;
    flex-direction: column;
}

.hidden{
    display: none;
}

.fileContainer{
    width: 80%;
    border-radius: 10px;
    background-color: var(--blackSecondary);
    padding: 10px;
    overflow: hidden;
}

.fileContainer .fileName{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
.fileContainer .fileSize{
    margin: 2px;
    font-size: 10px;
    font-weight: light;
}

.fileContainer .progress{
    width: 100%;
    accent-color: var(--orangePrimary);
    
}



.share.active{
    background-color: var(--blackSecondary);
    border: 5px dashed grey;
}

.share.active span {
    display: none;
}

.buttons{
    padding: 0 20px 0 20px;
}

.buttons button{
    margin: 0 10px 0 10px ;
}

.share h4{
    padding: 0 20px 0 20px;
}

.share button{
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 20px;
    font-family:'Rubik';
    background: none;
    color: azure;
    cursor: pointer;
    background-color: var(--orangePrimary);

}

.share button:hover{
    outline: 2px solid var(--whitePrimary);
}

.fileIcon{
    font-size: 40px;
    color: white;
}


  